/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 전체 페이지 스타일링 */
/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    line-height: 1.6;
    margin: 0;
    padding: 0;
} */

/* 헤더 스타일링 */
header {
    /* background-color: #333;
    color: #fff; */
    padding: 20px;
    text-align: left;
}


/* 메인 콘텐츠 스타일링 */
main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 3px;


}

/* 푸터 스타일링 */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
