/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 이미지 */
/* .frame .index-banner {
    /* position: absolute; */
    /* width: 100%;
    height: auto; */
    /* top: 276px;
    left: 1px;
    object-fit: cover;
    display: block;
  } */ */

/* 전체 페이지 스타일링 */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* 헤더 스타일링 */
header {
    /* background-color: #333;
    color: #fff; */
    padding: 20px;
    text-align: left;
}

header h1 {
    font-size: 2rem;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* 메인 콘텐츠 스타일링 */
main {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 왼쪽 콘텐츠 스타일링 */
#content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* 게시판 스타일링 */
#board {
    margin-bottom: 20px;
}

#board h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* 검색 폼 스타일링 */
#search-form {
    display: flex; /* 입력란과 버튼을 가로로 배치 */
    margin-bottom: 20px;
}

#search {
    flex-grow: 1; /* 입력란이 나머지 공간을 채우도록 설정 */
    padding: 10px;
    margin-right: 10px; /* 입력란과 버튼 사이 간격 추가 */
    border: 1px solid #ccc;
    border-radius: 3px;
}

#search button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

/* 게시판 스타일링 */
#board ul {
    list-style-type: none;
}

#board li {
    margin-bottom: 20px;
}

#board h3 {
    font-size: 1.2rem;
}

#board p {
    color: #666;
}

/* 오른쪽 콘텐츠 스타일링 */
#login-form {
    flex-basis: 30%; /* 로그인 폼 너비 조정 */
    padding-left: 20px;
}

#login-form h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

/* 푸터 스타일링 */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
