<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ssg_project_01</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <h1>한걸음 대여소</h1>
    </header>
    <!-- <img class="index-banner" src="index_banner_01.jpg" style="width: 100%; height: auto;" /> -->
    <main>
        <div class="community">


            <div class="bn-search01 type01">


                <div class="b-total-wrap">
                    <p>Total<span> 1752건</span>,<span> 1</span>/<span>176</span></p>
                </div>



                <form method="get" action="?" id="searchForm">

                    <fieldset class="b-search-wrap">
                        <legend class="hide">게시글 검색</legend>
                        <input type="hidden" name="mode" value="list">






                        <div class="b-sel-box b-cate-basic">
                            <label for="search_key" class="hide">검색분류선택</label>
                            <input type="hidden" name="srSearchKey" id="search_key" value="">
                            <a href="#search" class="b-sel-title">
                                전체
                            </a>
                            <ul>

                                <li>
                                    <a href="#search" class="select-option" title="전체" data-value="">
                                        전체
                                    </a>
                                </li>

                                <li>
                                    <a href="#search" class="select-option" title="제목" data-value="article_title">
                                        제목
                                    </a>
                                </li>

                                <li>
                                    <a href="#search" class="select-option" title="내용" data-value="article_text">
                                        내용
                                    </a>
                                </li>

                                <li>
                                    <a href="#search" class="select-option" title="작성자" data-value="writer_nm">
                                        작성자
                                    </a>
                                </li>

                            </ul>
                        </div>

                        <div class="b-search-box">
                            <label for="search_val" class="b-sel-label">
                                <span>검색어</span>
                            </label>
                            <input type="text" id="search_val" name="srSearchVal" value="" placeholder="검색어를 입력해 주세요">
                            <button type="submit" class="b-sel-btn">검색</button>
                        </div>
                    </fieldset>
                </form>



            </div>







            <div class="bn-list-common02 type01 bn-common">
                <div class="b-top-info-wrap">



                </div>







                <table summary="아주광장 > 커뮤니티 > 자유게시판" class="board-table">
                    <caption class="hide">아주광장 &gt; 커뮤니티 &gt; 자유게시판</caption>
                    <colgroup>

                        <col class="b-col">





                        <col class="b-col-title">






                        <col class="b-col">




                        <col class="b-col-date">


                        <col class="b-col-date">


                        <col class="b-col">




                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">번호</th>




                            <th scope="col">제목</th>





                            <th scope="col" class="b-no-right">파일</th>


                            <th scope="col">작성자</th>
                            <th scope="col">작성일</th>

                            <th scope="col" class="">
                                조회수
                            </th>





                        </tr>
                    </thead>


                    <tbody>











                        <tr class="">


                            <td class="b-num-box ">




                                1752





                            </td>





                            <td class="b-td-left">




                                <div class="b-title-box">







                                    <a href="?mode=view&amp;articleNo=220471&amp;article.offset=0&amp;articleLimit=10"
                                        title="도로교통공단에서 시뮬레이터 피실험자를 모집합니다! 자세히 보기">









                                        도로교통공단에서 시뮬레이터 피실험자를 모집합니다!





                                    </a>



                                    <div class="b-etc-box">







                                    </div>


                                    <div class="b-m-con">








                                        <span class="b-writer">이다례</span>


                                        <span class="b-date">
                                            23.08.24
                                        </span>


                                        <span class="hit">조회수 34</span>








                                    </div>
                                </div>
                            </td>








                            <td class="b-no-right">

                            </td>



                            <td>이다례</td>


                            <td>2023-08-24</td>


                            <td class="">
                                34
                            </td>





                        </tr>











                        <tr class="">


                            <td class="b-num-box ">




                                1751





                            </td>





                            <td class="b-td-left">




                                <div class="b-title-box">







                                    <a href="?mode=view&amp;articleNo=220149&amp;article.offset=0&amp;articleLimit=10"
                                        title="[선착순 7명 - 설문 응답자 모집 - 스타벅스 기프티콘 지급] 아주대 재학&amp;휴학생이면 가능합니다. 자세히 보기">









                                        [선착순 7명 - 설문 응답자 모집 - 스타벅스 기프티콘 지급] 아주대 재학&amp;휴학생이면 가능합니다.





                                    </a>



                                    <div class="b-etc-box">







                                    </div>


                                    <div class="b-m-con">








                                        <span class="b-writer">경흥종</span>


                                        <span class="b-date">
                                            23.08.17
                                        </span>


                                        <span class="hit">조회수 48</span>




                                        <span class="b-file">첨부파일</span>





                                    </div>
                                </div>
                            </td>








                            <td class="b-no-right">




                                <div class="b-common-file-box type01">
                                    <a href="#a" title="첨부파일 목록 열기" class="btn-popup-file"><span>첨부파일</span></a>
                                    <div class="b-popup-file-wrap js-popup-file">
                                        <div class="b-popup-file-box ko">
                                            <h5 class="b-h5-tit02">첨부파일</h5>
                                            <ul>

                                                <li>
                                                    <a href="?mode=download&amp;articleNo=220149&amp;attachNo=203661"
                                                        title="첨부파일다운로드">연구 모집공고문001.jpg</a>

                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>


                            </td>



                            <td>경흥종</td>


                            <td>2023-08-17</td>


                            <td class="">
                                48
                            </td>





                        </tr>











                        <tr class="">


                            <td class="b-num-box ">




                                1750





                            </td>





                            <td class="b-td-left">




                                <div class="b-title-box">







                                    <a href="?mode=view&amp;articleNo=219415&amp;article.offset=0&amp;articleLimit=10"
                                        title="긴급) 연구사업 과제수행을 위한 AI 개발자를 모집합니다. 자세히 보기">









                                        긴급) 연구사업 과제수행을 위한 AI 개발자를 모집합니다.





                                    </a>



                                    <div class="b-etc-box">







                                    </div>


                                    <div class="b-m-con">








                                        <span class="b-writer">정민규</span>


                                        <span class="b-date">
                                            23.07.25
                                        </span>


                                        <span class="hit">조회수 171</span>




                                        <span class="b-file">첨부파일</span>





                                    </div>
                                </div>
                            </td>








                            <td class="b-no-right">




                                <div class="b-common-file-box type01">
                                    <a href="#a" title="첨부파일 목록 열기" class="btn-popup-file"><span>첨부파일</span></a>
                                    <div class="b-popup-file-wrap js-popup-file">
                                        <div class="b-popup-file-box ko">
                                            <h5 class="b-h5-tit02">첨부파일</h5>
                                            <ul>

                                                <li>
                                                    <a href="?mode=download&amp;articleNo=219415&amp;attachNo=202924"
                                                        title="첨부파일다운로드">이력서.doc</a>

                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>


                            </td>



                            <td>정민규</td>


                            <td>2023-07-25</td>


                            <td class="">
                                171
                            </td>





                        </tr>











                        <tr class="">


                            <td class="b-num-box ">




                                1749





                            </td>





                            <td class="b-td-left">




                                <div class="b-title-box">







                                    <a href="?mode=view&amp;articleNo=219279&amp;article.offset=0&amp;articleLimit=10"
                                        title="★전원 커피 기프티콘 증정/10분 소요★ 설문조사 참여자 모집(남학생의 많은 참여 부탁드립니다.) 자세히 보기">









                                        ★전원 커피 기프티콘 증정/10분 소요★ 설문조사 참여자 모집(남학생의 많은 참여 부탁드립니다.)





                                    </a>



                                    <div class="b-etc-box">







                                    </div>


                                    <div class="b-m-con">








                                        <span class="b-writer">이예지</span>


                                        <span class="b-date">
                                            23.07.21
                                        </span>


                                        <span class="hit">조회수 120</span>




                                        <span class="b-file">첨부파일</span>





                                    </div>
                                </div>
                            </td>








                            <td class="b-no-right">




                                <div class="b-common-file-box type01">
                                    <a href="#a" title="첨부파일 목록 열기" class="btn-popup-file"><span>첨부파일</span></a>
                                    <div class="b-popup-file-wrap js-popup-file">
                                        <div class="b-popup-file-box ko">
                                            <h5 class="b-h5-tit02">첨부파일</h5>
                                            <ul>

                                                <li>
                                                    <a href="?mode=download&amp;articleNo=219279&amp;attachNo=202828"
                                                        title="첨부파일다운로드">모집 공고_이예지.png</a>

                                                </li>

                                                <li>
                                                    <a href="?mode=download&amp;articleNo=219279&amp;attachNo=202829"
                                                        title="첨부파일다운로드">QRCodeImg_공고문용 (3).PNG</a>

                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>


                            </td>



                            <td>이예지</td>


                            <td>2023-07-21</td>


                            <td class="">
                                120
                            </td>





                        </tr>











                        <tr class="">


                            <td class="b-num-box ">




                                1748





                            </td>





                            <td class="b-td-left">




                                <div class="b-title-box">







                                    <a href="?mode=view&amp;articleNo=215727&amp;article.offset=0&amp;articleLimit=10"
                                        title="2023년 1학기 정기 전체학생대표자회의 무단 불참자 징계 공고 자세히 보기">









                                        2023년 1학기 정기 전체학생대표자회의 무단 불참자 징계 공고





                                    </a>



                                    <div class="b-etc-box">







                                    </div>


                                    <div class="b-m-con">








                                        <span class="b-writer">이효성</span>


                                        <span class="b-date">
                                            23.06.12
                                        </span>


                                        <span class="hit">조회수 283</span>




                                        <span class="b-file">첨부파일</span>





                                    </div>
                                </div>
                            </td>








                            <td class="b-no-right">




                                <div class="b-common-file-box type01">
                                    <a href="#a" title="첨부파일 목록 열기" class="btn-popup-file"><span>첨부파일</span></a>
                                    <div class="b-popup-file-wrap js-popup-file">
                                        <div class="b-popup-file-box ko">
                                            <h5 class="b-h5-tit02">첨부파일</h5>
                                            <ul>

                                                <li>
                                                    <a href="?mode=download&amp;articleNo=215727&amp;attachNo=199415"
                                                        title="첨부파일다운로드">2023_1학기_정기_전체학생대표자회의_무단_불참자_징계_공고.pdf</a>

                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>


                            </td>



                            <td>이효성</td>


                            <td>2023-06-12</td>


                            <td class="">
                                283
                            </td>





                        </tr>











                        <tr class="">


                            <td class="b-num-box ">




                                1747





                            </td>





                            <td class="b-td-left">




                                <div class="b-title-box">







                                    <a href="?mode=view&amp;articleNo=215288&amp;article.offset=0&amp;articleLimit=10"
                                        title="연구참가자 모집(참가자 전원 스타벅스 쿠폰 증정)  자세히 보기">









                                        연구참가자 모집(참가자 전원 스타벅스 쿠폰 증정)





                                    </a>



                                    <div class="b-etc-box">







                                    </div>


                                    <div class="b-m-con">








                                        <span class="b-writer">김나래</span>


                                        <span class="b-date">
                                            23.05.30
                                        </span>


                                        <span class="hit">조회수 250</span>




                                        <span class="b-file">첨부파일</span>





                                    </div>
                                </div>
                            </td>








                            <td class="b-no-right">




                                <div class="b-common-file-box type01">
                                    <a href="#a" title="첨부파일 목록 열기" class="btn-popup-file"><span>첨부파일</span></a>
                                    <div class="b-popup-file-wrap js-popup-file">
                                        <div class="b-popup-file-box ko">
                                            <h5 class="b-h5-tit02">첨부파일</h5>
                                            <ul>

                                                <li>
                                                    <a href="?mode=download&amp;articleNo=215288&amp;attachNo=198993"
                                                        title="첨부파일다운로드">참가자 모집.jpg</a>

                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>


                            </td>



                            <td>김나래</td>


                            <td>2023-05-30</td>


                            <td class="">
                                250
                            </td>





                        </tr>











                        <tr class="">


                            <td class="b-num-box ">




                                1746





                            </td>





                            <td class="b-td-left">




                                <div class="b-title-box">







                                    <a href="?mode=view&amp;articleNo=215255&amp;article.offset=0&amp;articleLimit=10"
                                        title="●(2만원 상당의 상품권 지급)ADHD &amp;  음주 문제를 가진 연구 참가자 모집● 자세히 보기">









                                        ●(2만원 상당의 상품권 지급)ADHD &amp; 음주 문제를 가진 연구 참가자 모집●





                                    </a>



                                    <div class="b-etc-box">







                                    </div>


                                    <div class="b-m-con">








                                        <span class="b-writer">임효섭</span>


                                        <span class="b-date">
                                            23.05.30
                                        </span>


                                        <span class="hit">조회수 167</span>




                                        <span class="b-file">첨부파일</span>





                                    </div>
                                </div>
                            </td>








                            <td class="b-no-right">




                                <div class="b-common-file-box type01">
                                    <a href="#a" title="첨부파일 목록 열기" class="btn-popup-file"><span>첨부파일</span></a>
                                    <div class="b-popup-file-wrap js-popup-file">
                                        <div class="b-popup-file-box ko">
                                            <h5 class="b-h5-tit02">첨부파일</h5>
                                            <ul>

                                                <li>
                                                    <a href="?mode=download&amp;articleNo=215255&amp;attachNo=198962"
                                                        title="첨부파일다운로드">ADHD 알코올 공고문.jpg</a>

                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>


                            </td>



                            <td>임효섭</td>


                            <td>2023-05-30</td>


                            <td class="">
                                167
                            </td>





                        </tr>











                        <tr class="">


                            <td class="b-num-box ">




                                1745





                            </td>





                            <td class="b-td-left">




                                <div class="b-title-box">







                                    <a href="?mode=view&amp;articleNo=215172&amp;article.offset=0&amp;articleLimit=10"
                                        title="경기도사회서비스원에서 대학생자원봉사단을 모집합니다. 자세히 보기">









                                        경기도사회서비스원에서 대학생자원봉사단을 모집합니다.





                                    </a>



                                    <div class="b-etc-box">







                                    </div>


                                    <div class="b-m-con">








                                        <span class="b-writer">이승호</span>


                                        <span class="b-date">
                                            23.05.26
                                        </span>


                                        <span class="hit">조회수 64</span>




                                        <span class="b-file">첨부파일</span>





                                    </div>
                                </div>
                            </td>








                            <td class="b-no-right">




                                <div class="b-common-file-box type01">
                                    <a href="#a" title="첨부파일 목록 열기" class="btn-popup-file"><span>첨부파일</span></a>
                                    <div class="b-popup-file-wrap js-popup-file">
                                        <div class="b-popup-file-box ko">
                                            <h5 class="b-h5-tit02">첨부파일</h5>
                                            <ul>

                                                <li>
                                                    <a href="?mode=download&amp;articleNo=215172&amp;attachNo=198876"
                                                        title="첨부파일다운로드">[포스터]대학생자원봉사단 모집.png</a>

                                                </li>

                                                <li>
                                                    <a href="?mode=download&amp;articleNo=215172&amp;attachNo=198877"
                                                        title="첨부파일다운로드">[양식]대학생자원봉사단 대학생 신청서.hwp</a>

                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>


                            </td>



                            <td>이승호</td>


                            <td>2023-05-26</td>


                            <td class="">
                                64
                            </td>





                        </tr>











                        <tr class="">


                            <td class="b-num-box ">




                                1744





                            </td>





                            <td class="b-td-left">




                                <div class="b-title-box">







                                    <a href="?mode=view&amp;articleNo=215059&amp;article.offset=0&amp;articleLimit=10"
                                        title="[커피 기프티콘 증정/10분 소요] '대학생의 성적 자기주장' 관련 설문조사 참여자 모집 자세히 보기">









                                        [커피 기프티콘 증정/10분 소요] '대학생의 성적 자기주장' 관련 설문조사 참여자 모집





                                    </a>



                                    <div class="b-etc-box">







                                    </div>


                                    <div class="b-m-con">








                                        <span class="b-writer">이예지</span>


                                        <span class="b-date">
                                            23.05.23
                                        </span>


                                        <span class="hit">조회수 131</span>




                                        <span class="b-file">첨부파일</span>





                                    </div>
                                </div>
                            </td>








                            <td class="b-no-right">




                                <div class="b-common-file-box type01">
                                    <a href="#a" title="첨부파일 목록 열기" class="btn-popup-file"><span>첨부파일</span></a>
                                    <div class="b-popup-file-wrap js-popup-file">
                                        <div class="b-popup-file-box ko">
                                            <h5 class="b-h5-tit02">첨부파일</h5>
                                            <ul>

                                                <li>
                                                    <a href="?mode=download&amp;articleNo=215059&amp;attachNo=198784"
                                                        title="첨부파일다운로드">QRCodeImg_공고문용.PNG</a>

                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>


                            </td>



                            <td>이예지</td>


                            <td>2023-05-23</td>


                            <td class="">
                                131
                            </td>





                        </tr>











                        <tr class="">


                            <td class="b-num-box ">




                                1743





                            </td>

                            <td class="b-td-left">

                                <div class="b-title-box">

                                    <a href="?mode=view&amp;articleNo=214623&amp;article.offset=0&amp;articleLimit=10"
                                        title="박재연교수님과 스승의날 산책 신청합니다 자세히 보기">


                                        박재연교수님과 스승의날 산책 신청합니다
                                    </a>



                                    <div class="b-etc-box">

                                    </div>


                                    <div class="b-m-con">

                                        <span class="b-writer">김선빈</span>


                                        <span class="b-date">
                                            23.05.15
                                        </span>


                                        <span class="hit">조회수 176</span>
                                    </div>
                                </div>
                            </td>

                            <td class="b-no-right">

                            </td>



                            <td>김선빈</td>


                            <td>2023-05-15</td>


                            <td class="">
                                176
                            </td>


                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="b-paging01 type01">

                <div class="b-paging-wrap">
                    <ul>

                        <li><a href="#curPage" class="active">1</a></li>





                        <li><a href="?mode=list&amp;&amp;articleLimit=10&amp;article.offset=10">2</a></li>




                        <li><a href="?mode=list&amp;&amp;articleLimit=10&amp;article.offset=20">3</a></li>




                        <li><a href="?mode=list&amp;&amp;articleLimit=10&amp;article.offset=30">4</a></li>




                        <li><a href="?mode=list&amp;&amp;articleLimit=10&amp;article.offset=40">5</a></li>




                        <li><a href="?mode=list&amp;&amp;articleLimit=10&amp;article.offset=50">6</a></li>




                        <li><a href="?mode=list&amp;&amp;articleLimit=10&amp;article.offset=60">7</a></li>

                        <li><a href="?mode=list&amp;&amp;articleLimit=10&amp;article.offset=70">8</a></li>

                        <li><a href="?mode=list&amp;&amp;articleLimit=10&amp;article.offset=80">9</a></li>

                        <li><a href="?mode=list&amp;&amp;articleLimit=10&amp;article.offset=90">10</a></li>

                        <li class="next pager">
                            <a href="?mode=list&amp;&amp;articleLimit=10&amp;article.offset=10" title="다음 페이지로 이동하기">
                                <span class="hide">다음 페이지로 이동하기</span>
                            </a>
                        </li>

                        <li class="last pager">
                            <a href="?mode=list&amp;&amp;articleLimit=10&amp;article.offset=1750" title="마지막 페이지로 이동하기">
                                <span class="hide">마지막 페이지로 이동하기</span>
                            </a>
                        </li>

                    </ul>
                </div>

            </div>

            <div class="b-btn-wrap">
                <ul>

                    <!--<li>
			<a class="b-btn-type01 b-btn-c-blue" href="?mode=write&amp;article.offset=0&amp;articleLimit=10">등록</a>
		</li>-->

                    <li>
                        <a class="b-btn-type01 b-btn-c-blue"
                            href="?mode=write&amp;article.offset=0&amp;articleLimit=10">등록</a>
                    </li>



                </ul>
            </div>

            <form name="admin-form" method="post" action="?article.offset=0&amp;articleLimit=10">
                <input type="hidden" name="mode">
                <input type="hidden" name="articles">
                <input type="hidden" name="confirmMode">
            </form>


        </div>
    </main>

    <footer>
        <p>&copy; 한걸음