<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Step</title>
    <link rel="stylesheet" href="../static/css/css.css">
</head>

<body>
    <header class="header">
        <div class="header_logo">
            <a href="/">
                <h1>한걸음 대여소</h1>
                <p>SLOGAN</p>
            </a>
        </div>
        <div class="header_gnb">
            <a href='/list'>공지사항</a>
            <!-- <li><a href='../templates/login.html'>로그인</a></li> -->
        </div>
    </header>
    <div class="board_wrap">
        <div class="board_title">
            <strong>공지사항</strong>
            <p>공지사항을 빠르고 정확하게 안내해드립니다.</p>
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="num">번호</div>
                    <div class="title">제목</div>
                    <div class="writer">글쓴이</div>
                    <div class="writer">지역</div>
                    <div class="date">작성일</div>
                </div>
                {% for i in data_list %}
                <div>
                    <div class="num">{{ i[0] }}</div>
                    <div class="title" onclick="location.href='/listview/{{i[0]}}'">{{ i[1] }}</a></div>
                    <div class="writer">{{ i[2] }}</div>
                    <div class="count">{{ i[3] }}</div>
                    <div class="date">{{ i[4] }}</div>
                </div>
                {% endfor %}
                
            </div>
            



            
        <div class="board_page">
            <a href="#" class="bt first">
                << </a>
                    <a href="#" class="bt prev">
                        < </a>
                            <a href="/list" class="num">1</a>
                            <a href="/list/2" class="num">2</a>
                            <a href="/list/3" class="num">3</a>
                            <a href="/list/4" class="num">4</a>
                            <a href="/list/5" class="num">5</a>
                            <a href="#" class="bt next">></a>
                            <a href="#" class="bt last">>></a>
        </div>
        <div class="bt_wrap">
            <a href="/write" class="on">등록하기</a>
        </div>


    </div>
    </div>
</body>

</html>