<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Step</title>
    <link rel="stylesheet" href="../static/css/css.css">
</head>

<body>
    <header class="header">
        <div class="header_logo">
            <a href="../templates/index.html">
                <h1>한걸음 대여소</h1>
                <p>SLOGAN</p>
            </a>
        </div>
        <div class="header_gnb">
            <a href='../templates/list.html'>공지사항</a>
            <!-- <li><a href='../templates/login.html'>로그인</a></li> -->
        </div>
    </header>
    <div class="signup">
        <h1>SignUp</h1>
        <div class="signup_info">
            <h2>아이디</h2>
            <input type="text" name="member_id" placeholder="아이디" required>
            <p>영문소문자+숫자/4~16자리</p>
            
            <h2>비밀번호</h2>
            <input type="text" name="passwd" placeholder="비밀번호" required>
            
            <h2>비밀번호 확인</h2>
            <input type="text" name="user_passwd_confirm" placeholder="비밀번호 확인" required>
            
            <h2>이름</h2>
            <input type="text" name="userid" placeholder="비밀번호 확인" required>
            
            <h2>휴대전화</h2>
            <input type="text" name="mobile" placeholder="휴대전화" required>
            <p>'-'없이 숫자만 입력해주세요.</p>
        </div>
        <div class="bt_wrap">
            <button type="submit" class="on">SignUp</button>
            <button type="submit">Cancel</button>
        </div>
    </div>
    
</body>

</html>